<div class="text-center">
  <div class="jumbotron">
    <h2>ボケて</h2>
    <p>画像に一言でぼけろ!</p>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/bokete/select'">Start</button>
  <button type="button" class="btn btn-lg btn-info" onclick="location.href='/bokete/list'" style="margin-top:10px;">閲覧</button>
</div>
