<div class="text-center">
  <form action="<%= bokete_show_path %>" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="question">
      <p>選択</p>
    </div>
  
    <div class="bokete-selection-header">
      <h2>一つ選んで。</h2>
    </div>
    <div class="bokete-selection">
      <ul class="clearfix">
        <li><input type="checkbox" name="image" value="1" style="background:url('/images/bokete/1.png')"></li>
        <li><input type="checkbox" name="image" value="2" style="background:url('/images/bokete/2.png')"></li>
        <li><input type="checkbox" name="image" value="3" style="background:url('/images/bokete/3.png')"></li>
        <li><input type="checkbox" name="image" value="4" style="background:url('/images/bokete/4.png')"></li>
        <li><input type="checkbox" name="image" value="5" style="background:url('/images/bokete/5.png')"></li>
        <li><input type="checkbox" name="image" value="6" style="background:url('/images/bokete/6.png')"></li>
        <li><input type="checkbox" name="image" value="7" style="background:url('/images/bokete/7.png')"></li>
        <li><input type="checkbox" name="image" value="8" style="background:url('/images/bokete/8.png')"></li>
      </ul>
    </div>
    <input type="text" name="comment" class="form-control" placeholder="">
    <button type="submit" id="selection-done" class="btn btn-lg btn-success">完了</button>
  </form>
</div>
