<div>
  <%= f.label :id, 'id', class: 'required' %>
  <%= f.text_field :id, required: true %>
</div>
<div>
  <%= f.label :title, 'title', class: 'required' %>
  <%= f.text_field :title, required: true %>
</div>
