<div class="text-center">
  <div id="formation-base">
    <div class="position-1" data-pid="0" data-fid="1"></div>
    <div class="position-2" data-pid="0" data-fid="2"></div>
    <div class="position-3" data-pid="0" data-fid="3"></div>
    <div class="position-4" data-pid="0" data-fid="4"></div>
    <div class="position-5" data-pid="0" data-fid="5"></div>
    <div class="position-6" data-pid="0" data-fid="6"></div>
    <div class="position-7" data-pid="0" data-fid="7"></div>
    <div class="position-8" data-pid="0" data-fid="8"></div>
    <div class="position-9" data-pid="0" data-fid="9"></div>
    <div class="position-10" data-pid="0" data-fid="10"></div>
    <div class="position-11" data-pid="0" data-fid="11"></div>
  </div>
  <form id="create-form" method="POST" action="<%= selection_show_path %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button type="button" id="create-btn" class="btn btn-lg btn-primary">決定</button>
  </form>
  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
