<div class="text-center">
  <div class="question">
    <p>選択</p>
  </div>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= selection_update_path %>'">完了</button>
</div>
