<div class="text-center">
  <div class="common-title">
    <p>結果</p>
  </div>
  <div id="spinner-container">
    <div id="spinner">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
    </div>
  </div>
  <div id="result-image"></div>
  <button id="twitter-tweet-btn" type="button" class="btn btn-lg">tweet</button>
  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= root_path %>'">トップページ</button>
</div>
