<div>
  <%= f.label :id, 'id', class: 'required' %>
  <%= f.text_field :id, required: true %>
</div>
<div>
  <%= f.label :valid_st, 'valid_st', class: 'required' %>
  <%= f.text_field :valid_st, required: true %>
</div>
