<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>
  <div class="common-title">
    <p>お題を選択</p>
  </div>

  <div class="question-btn">
  	<ul>
      <% @questions.each do |key, value| %>
        <li><button type="button" class="btn btn-lg btn-success question-each-btn" data-question-id="<%= value[:id] %>" data-question-title="<%= value[:title] %>"><%= value[:title] %></button></li>
      <% end %>
    </ul>
  </div>

  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
