<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>
  <div class="common-title">
    <p>お題を選択</p>
  </div>

  <!--
  <div class="my-form">
    <form role="form">
      <input type="text" class="form-control" id="question-input" placeholder="">
      <button type="button" class="btn btn-lg btn-primary" onclick="location.href='<%= question_update_path %>'">決定</button>
    </form>
  </div>
  -->

  <div class="question-btn">
  	<ul>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= question_update_path %>'">伝説の酒豪</button></li>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= question_update_path %>'">アイドル</button></li>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= question_update_path %>'">野球</button></li>
    </ul>
  </div>

  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
