<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>リクエスト完了</p>
  </div>
  <div id="question-request-done-comment">お題リクエスト完了しました。</div>
  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= question_root_path %>'">戻る</button>

  <%= render 'shared/footer_relative' %>
</div>
