<div class="sns_btn">
  <a class="twBtn" data-image-id="<%= image.id %>">ツイート</a>
  <!--
  <a class="fbBtn" href="#">いいね！</a>
  -->
  <a class="goodBtn" data-image-id="<%= image.id %>"><span class="point-value"><%= image.point %></span> Good</a>
</div>
