<div class="text-center">
  <%= render 'shared/header_top' %>

  <div class="my-jumbotron">
    <div class="logo"><img src="/images/top.png?v=1"></div>
    <p>センスを見せろ! テーマに沿って自分だけのイレブンを作ろう</p>
    <a href="https://twitter.com/oleven_sk" class="twitter-follow-button" data-show-count="false">Follow @oleven_sk</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/question'">はじめる</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= rankings_root_path %>'" style="margin-top: 8px;">ランキング</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_post_images/order_by_comment'" style="margin-top: 8px;">投稿されたイレブン</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_comments'" style="margin-top: 8px;">記事コメント一覧</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/mypage'" style="margin-top: 8px;">マイ俺ブン</button>

  <%= render 'shared/footer_welcome' %>
</div>
