<div class="text-center">
  <%= render 'shared/header' %>

  <div class="my-jumbotron">
    <div class="logo"><img src="/images/top.png?v=1"></div>
    <p>センスを見せろ! テーマに沿って自分だけのイレブンを作ろう</p>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/question'">はじめる</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_post_images/rankings'" style="margin-top: 8px;">すげぇイレブンランキング</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_comments'" style="margin-top: 8px;">記事コメント一覧</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_post_images/order_by_comment'" style="margin-top: 8px;">投稿されたイレブン</button>
  <%= render 'shared/footer_welcome' %>
</div>
