<div class="text-center">
  <div class="jumbotron">
    <h2>なんでもベストイレブン</h2>
    <p>この世にあるありとあらゆるものの最強の11人(ときに人間ではなくモノも)を選んでください。</p>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='#'">Start</button>
</div>
