<div class="text-center">
  <%= render 'shared/header' %>

  <div class="jumbotron">
    <h2>なんでも<br>ベストイレブン</h2>
    <p>この世にあるありとあらゆるものの最強の11人(ときに人間ではなくモノも)を選んでください。</p>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/question'">はじめる</button>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='/user_post_images'" style="margin-top: 8px;">最近投稿された画像</button>
  <%= render 'shared/footer_welcome' %>
</div>
