<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>
  <div class="jumbotron">
    <h2>なんでもベストイレブン</h2>
    <p>この世にあるありとあらゆるものの最強の11人(ときに人間ではなくモノも)を選んでください。</p>
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/question'">Start</button>

  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
