<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>投稿中</p>
  </div>
  <div id="spinner-container">
    <div id="spinner">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
    </div>
  </div>
  <div id="result-comment">投稿完了しました。</div>
  <div id="result-error-comment">通信エラーが発生しました。電波の良い環境で、はじめからやり直してください。</div>
  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= root_path %>'">トップページ</button>

  <%= render 'shared/footer_relative' %>
</div>
