<div class="text-center">
  <%= render 'shared/header' %>

  <div class="jumbotron">
    <h2>なんでも<br>ベストイレブン</h2>
    <p>この世にあるありとあらゆるものの最強のイレブンを選んでください</p>
  </div>
  <p>ただいまメンテナンス中です。</p>
  <p>しばらくお待ちください。</p>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='/'">更新</button>

  <%= render 'shared/footer_welcome' %>
</div>
