<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>
</div>

<div id="error">
  <h1>500 Internal Server Error</h1>
  <p>申し訳ございません。<br>しばらく経ってから再度アクセスしてください。</p>
</div>

<div class="text-center">
  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
