<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>
  <div class="question-title">
    <p>フォーメーション選択</p>
  </div>

  <div class="question-btn">
  	<ul>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= formation_update_path %>'">4-4-2(ダイヤモンド)</button></li>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= formation_update_path %>'">3-4-3</button></li>
    </ul>
  </div>
</div>
