<div class="text-center">
  <div class="question">
    <p>フォーメーション選択</p>
  </div>

  <div class="question">
    <p>人気</p>
  </div>
  <div class="question-btn">
  	<ul>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='#'">3-4-3</button></li>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='#'">4-4-2</button></li>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='#'">・・・</button></li>
    </ul>
  </div>

  <div class="question">
    <p>マニアック</p>
  </div>
  <div class="question-btn">
  	<ul>
      <li><button type="button" class="btn btn-lg btn-success" onclick="location.href='#'">・・・</button></li>
    </ul>
  </div>
</div>
