@import "bootstrap";

$orange: #ff4e00;

html, body {
  background-color: #eee;
  height:100%;
}

.container {
  min-height:100%;
}

.sk-header {
  height: 50px;
  background-color: #ffee00;
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $orange;
  color: #fff;
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}

.common-title {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: $orange;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #fff;
  p {
    font-weight: bold;
    font-size: 18px;
  }
}

.question-title {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: $orange;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #fff;
  p {
    font-weight: bold;
    font-size: 18px;
  }
}
.question-btn {
  ul {
    padding-left: 0px;
    li:first-child {
      list-style-type: none;
      margin-top: 0px;
    }
    li {
      list-style-type: none;
      margin-top: 5px;
    }
  }
}

.my-form {
	button {
      margin-top: 5px;
	}
}

.btn {
	width: 100%;
}

.player-selection-header {
  border-bottom: 2px solid #000;
  padding-bottom: 0px;
  margin-bottom: 10px;
  h2 {
    text-align: left;
    margin-bottom: 3px;
  }
}

.player-selection {
  ul {
    padding-left: 0px;
    list-style-type: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      display: table-cell;
      vertical-align: middle;
      span {
        display: block;
      }
    }
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    width: 100px;
    height: 100px;
    background-size: contain !important;
  }
  input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(/images/checked.png);
    background-size: contain !important;
  }
}

.block-anchor {
  display: block;
  background: #eee;
}

.selection-left-nav {
  padding-right: 0px;
}
.selection-right-nav {
  padding-left: 0px;
}

.bokete-selection-header {
  border-bottom: 2px solid #000;
  padding-bottom: 0px;
  margin-bottom: 10px;
  h2 {
    text-align: left;
    margin-bottom: 3px;
  }
}

.bokete-selection {
  ul {
    list-style-type: none;
    li {
      float: left;
    }
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    outline: none;
    width: 200px;
    height: 200px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(/images/checked.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  content: "."
}
.hr {
  border-top: 3px solid #eee;
  margin-top: 5px;
  margin-bottom: 5px;
}

#formation-base {
  position: relative;
}

.formation-base-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/ground-half.jpg');
}

.formation-player-base-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/no_image.png');
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.formation-4-4-2 {
  .position-1 {
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 2%; 
  }
  .position-2 {
    position: absolute;
    z-index: 1;
    left: 65%;
    top: 2%; 
  }
  .position-3 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20%; 
  }
  .position-4 {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 30%; 
  }
  .position-5 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 40%; 
  }
  .position-6 {
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 30%; 
  }
  .position-7 {
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 60%; 
  }
  .position-8 {
    position: absolute;
    z-index: 1;
    left: 38%;
    top: 65%; 
  }
  .position-9 {
    position: absolute;
    z-index: 1;
    left: 62%;
    top: 65%; 
  }
  .position-10 {
    position: absolute;
    z-index: 1;
    left: 85%;
    top: 60%; 
  }
  .position-11 {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 83%; 
  }
}

#select-player-before {
  border: 3px solid #000;
  border-radius: 10px;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url('/images/no_image.png');
}

#select-player-after {
  border: 3px solid #000;
  border-radius: 10px;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url('/images/no_image.png');
}

#arrow {
  width: 100%;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url('/images/arrow.png');
}

#select-target {
  margin-top: 15px;
}

button#select-done-btn {
  margin-top: 15px;
  margin-bottom: 5px;
}

button#create-btn {
  margin-top: 5px;
}

#twitter-tweet-btn {
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #00aced;
  border: 1px solid #0090c4;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#spinner-container {
  height: 80px;
}

#spinner {
  position: absolute;
  margin-left: -50px;
  z-index: 2;
  top: 63px;
  left: 50%;
  float: left;
  width:100px;
  height:100px;
  -webkit-transform: scale(0.5);
  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotate {
  from { -webkit-transform:scale(0.5) rotate(0deg); }
  to { -webkit-transform:scale(0.5) rotate(360deg); }
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6, .bar7, .bar8 {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #000;
  top: 35px;
  left: 45px;
}
.bar1 {
  -webkit-transform: rotate(0deg) translate(0, -40px);
  opacity: 0.12;
}
.bar2 {
  -webkit-transform: rotate(45deg) translate(0, -40px);
  opacity: 0.25;
}
.bar3 {
  -webkit-transform: rotate(90deg) translate(0, -40px);
  opacity: 0.37;
}
.bar4 {
  -webkit-transform: rotate(135deg) translate(0, -40px);
  opacity: 0.5;
}
.bar5 {
  -webkit-transform: rotate(180deg) translate(0, -40px);
  opacity: 0.62;
}
.bar6 {
  -webkit-transform: rotate(225deg) translate(0, -40px);
  opacity: 0.75;
}
.bar7 {
  -webkit-transform: rotate(270deg) translate(0, -40px);
  opacity: 0.87;
}
.bar8 {
  -webkit-transform: rotate(315deg) translate(0, -40px);
  opacity: 1;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffee00;
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
  height: 15px;
}

